<%= form_for(@issue, :html => { :class => ""} ) do |f| %>

<% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<fieldset>
<legend>Critical Information</legend>

 <div class="clearfix">
 <label>Issue Name</label>
 <div class="input"><%= f.text_field :name %></div>
 </div>

 <div class="clearfix">
 <label>Priority</label>
 <div class="input"><%= f.select :priority, options_for_select(["Select One", "Low", "Medium", "High", "Emergency", "World has ended."],:disabled => ["Select One"]) %></div>
 </div>

 <div class="clearfix">
 <label>Assign issue to:</label>
 <div class="input"><%= f.text_field :assigned %></div>
 </div>

<div class="clearfix">
 <label>Status</label>
 <div class="input"><%= f.select :status, options_for_select(["Select One", "Open", "Ongoing", "Closed", "Outsourced"],:disabled => ["Select One"]) %></div>
 </div>
</fieldset>

<fieldset>
<legend>Non-critical information</legend>

<div class="clearfix">
<label>Brief description of issue. (Remember to include any error messages or codes)</label>
<div class="input"><%= f.text_area :description, :size => "30x10" %></div>
</div>

<div class="clearfix">
<label>Code commit</label>
<div class="input"><%= f.text_field :commit %></div>
</div>

<div class="clearfix">
<label>Related website</label>
<div class="input"><%= f.text_field :url %></div>
</div>

</fieldset>
<div class="actions">
  <%= f.submit 'Submit', :class => 'btn primary' %>
	<%= link_to 'Back', issues_path, :class => 'btn' %>
</div>
</div>

<% end %>