<div class="page-header">
  <h1><%= @issue.name %> <small>was assigned to <strong><%= @issue.assigned %></strong> on <strong>date</strong>.</small></h1>
</div>

<% if flash[:alert] %>
	<div class="span12 columns">
      <div class="alert-message warning">
        <p><%= flash[:alert] %></p>
     </div>
	<% end %>
	<% if flash[:notice] %>
	<div class="span12 columns">
      <div class="alert-message success">
        <p><%= flash[:notice] %></p>
     </div>
<% end %>

<div class="row">
    <div class="span4 columns">
      <h2>#<%= @issue.id %></h2>
	  <p>Created on <%= @issue.created_at %></p>
    </div>

	<div class="span12 columns">
	      <h4>Issue details.</h4>
		  <%= @issue.priority %>
		  <%= @issue.description %>
		  <%= @issue.commit %>
		  <%= @issue.url %>
		  <%= @issue.created_at %>
		  <%= @issue.updated_at %>
		  
    </div>
  </div><!-- /row -->


  


<%= link_to 'Edit', edit_issue_path(@issue), :class => 'btn info' %>
<%= link_to 'Back', issues_path, :class => 'btn default' %>
