<div class="page-header">
  <h1>Issues <small>Viewing the details of <strong><%= @issue.name %></strong>.</small></h1>
</div>

<% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @issue.name %>
</p>

<p>
  <b>Description:</b>
  <%= @issue.description %>
</p>

<p>
  <b>Priority:</b>
  <%= @issue.priority %>
</p>

<p>
  <b>Assigned:</b>
  <%= @issue.assigned %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue), :class => 'btn info' %>
<%= link_to 'Back', issues_path, :class => 'btn default' %>
